body {
    background: url('/assets/images/mobius3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 25%;
}
.logo {
    padding-top: 15px;
    padding-left: 70px;
    height: 19px;
    width: 125px;
}
.navbar {
    color: white;
    box-sizing: inherit;
    text-align: right;
    padding-top: 15px;
}
.navbar li {
    cursor: pointer;
    list-style-type: none;
    float: right;
    /* float: left; */
    padding-right: 55px;
    text-align: center;

}